.doc {
    background-color: #0f142adf;
    background-color: whitesmoke;
    margin: 1.5em;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px #272727d7;
}

.doc h1 {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    border-bottom: 2px solid #272727;
    color: #272727;
}

.doc p {
    font-size: 1.8em;
    margin-right: 2em;
    margin-left: 5em;
    margin-top: 0.5em;
    color: #272727;
}

.container {
    margin-top: 2em;
    align-items: center;
    text-align: center;
}

.profile{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile img {
    width: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.profile h2,
.profile p1,
.profile li {
    color: #a8a9b9;
}

.card,
.card_below {
    border: 1px solid #272727;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #272727;
}

.card_below {
    margin-top: 2em;
}

.card ul li,
.card_below ul li {
    display: inline-flex;
    align-items: center;
    list-style-type: none;
    margin-left: 0.25em;
    margin-right: 0.25em;
    font-size: 2em;
}

.card:hover,
.card_below:hover {
    box-shadow: 2px 4px 8px 1px #013462;
    transition: 0.3s ease;
}

.card li:hover,
.card_below li:hover {
    color: #013462;
}

.btn {
    text-align: center;
    padding: 2em;
}

.btn button {
    background-color: #013462;
    padding: .7em 1.2em;
    border: none;
}

.btn a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 2em;
}

.btn a:hover{
    color: #2e73af;
}

/* ------Mobile area------ */

@media (max-width: 700px) {
    .card,
    .card_below {
        display: none;
    }
    .doc {
        margin: 0.5em;
        box-shadow: 2px 4px 8px 1px #272727d7;
    }

    .doc h1 {
        font-size: 1.8em;
        border-bottom: 1px solid #272727;
    }
    .doc p {
        font-size: 1em;
        margin-right: 4em;
        margin-left: 5em;
    }
}
