.doc {
    background-color: #0f142adf;
    background-color: whitesmoke;
    margin: 1.5em;
    border-radius: 4px;
    box-shadow: 2px 4px 8px 4px #272727d7;
}

.doc h1 {
    margin-left: 2em;
    margin-right: 2em;
    padding-top: 1em;
    border-bottom: 2px solid #272727;
    color: #272727;
}

.doc p {
    font-size: 1.8em;
    margin-right: 2em;
    margin-left: 5em;
    margin-top: 0.5em;
    color: #272727;
}

.doc h2 {
    margin-top: 1.5cm;
    text-align: center;
    font-size: xx-large;
}

.doc img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15cm;
}

.display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 10%;
}

.display img {
    width: 200px;
    max-height: 250px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: whitesmoke;
}

.display h2,
.display h3 {
    color: #a8a9b9;
    text-align: center;
    margin-top: 5%;
}

.card {
    border: 1px solid #272727;
    border-radius: 10px;
    margin-right: 3%;
    margin-left: 3%;
    background-color: #272727;
    margin-top: 2em;
}

.card:hover {
    box-shadow: 2px 4px 8px 1px #013462;
    transition: 0.3s ease;
}

@media (max-width: 700px) {
    .doc {
        margin: 0.5em;
        box-shadow: 2px 4px 8px 1px #272727d7;
    }


    .doc img {
        width: 8cm;
    }

    .doc h1 {
        font-size: 1.8em;
        border-bottom: 1px solid #272727;
    }

    .doc p {
        font-size: 1em;
        margin-right: 4em;
        margin-left: 4.5em;
    }
}