.container {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 70%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

@media (max-width: 700px) {
    .min-height{
        min-height: 60%
    } 
}