.logo {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #272727, #173153);
}

.logo img {
    width: 300px;
}

.logo a {
    margin-left: 5%;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    box-sizing: border-box;
    margin-right: 4em;
    gap: 1em;
}

.social_list li {
    margin: 0 0.5em;
    margin-top: 20%;
}

.social_list a {
    color: whitesmoke;
}

.social_list a:hover {
    color: #255e90;
}

.social_list svg {
    font-size: 1.6em;
    cursor: pointer;
}

@media (max-width: 800px) {
    .social_list {
        display: none;
    }

    .logo {
        color: none;
    }

    .logo img {
        width: 200px;
    }
}
